.menu {
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid rgba(50,50,50,0.2);
}

.section {
  padding-top: 6em;
  padding-bottom: 10em;
  padding-right: 15px;
  padding-left: 15px;
  height: 100vh;
}

.contacts {
  background-color: rgb(4,63,90);
  color: rgb(200,200,200);
}

.avatar {
  float: left;
  margin-right: 2em;
  margin-left: -1em;

}

.person {
  display: block;
  margin-bottom: 4em;
  clear: both;
}

.page-content {
  width: 66vw;
  min-width: 40em;
}